.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.frames {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0;
}

.tabs .indicator {
    height: 3px;
}